html {
    width: 1280px;
    font-family: Lato, sans-serif;
    margin: 0 auto;

}

/* Logo */


.logo {
    height: 175px;
    line-height: 175px;
}

.logo a {
    text-decoration: none;
}

.logo a > span {
    color: #000;
    font-size: 80px;
}

.logo a span:first-child {
    color: #0ab7ff;
}


/* Header */

header {
    height: 70px;
    background-color: #35444f;
    margin-bottom: 50px;
}

.menu {
    height: 100%;
    width: 1280px;
    line-height: 70px;
    text-align: center;
    font-size: 24px;
}

.menu > li {
    padding-left: 25px;
    display: inline-block;
    border-left: 1px solid;
    border-right: 1px solid;
    border-left-color: #35444f;
    border-right-color: #35444f;


}

.menu > li:hover {
    background-color: #222f3a;
    box-sizing: border-box;
    border-left-color: gray;
    border-right-color: gray;
}


.menu > li > a {

    display: block;
    text-decoration: none;
    color: white;

}


.sidebar {
    clear: both;
    width: 25%;
    height: auto;
    line-height: 70px;
    display: block;
    float: left;
    border: 1px solid;
    box-sizing: border-box;


}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;
    vertical-align: center;


}


.sidebar a {
    text-decoration: none;
    display: block;
    font-size: 27px;
    padding-left: 25px;
    position: relative;
    color: #495863;
}


.sidebar a:hover {
    width: 100%;
    height: 100%;
    display: block;
    color: black;
    background: #dbdbdb;

}

section {
    float: right;
    width: 70%;


}


p {
    font-size: 18px;
}

/*  Photo  */

.photo {
    clear: both;
    display: block;
    width: 100%;


}

.photo {
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 50px;
}


.photo:hover {
    transform: scale(1.1);
    overflow: hidden;
}


/*   Footer styles   */
footer {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    height: 70px;
    background-color: #b4b7ba;
}

.copyright {
    float: right;
    line-height: 70px;
    padding-right: 30px;
    font-size: 24px;
}

.footer_nav {
    display: inline-block;
    list-style: none;


}

.footer_nav > li {
    display: inline-block;
    text-align: center;
    padding-right: 20px;
    padding-left: 10px;


}


.footer_link {
    font-size: 24px;
    text-decoration: none;
    color: black;


}

.footer_nav > .footer_menu > .footer_link:hover {

    color: #3181a6;
    text-decoration: underline #3181a6;

}

.footer_nav > .footer_menu > .footer_link {
    line-height: 50px;
}





