/** {*/
/*    border-collapse: collapse;*/
/*}*/

html {
    background-color: #3a4965;
    font-family: Arimo, sans-serif;


}


.choose {
    position: absolute;
    top: 110px;
    left: 220px;
    font-size: 14px;
}


.second_table {
    margin: 80px auto;
    border-collapse: collapse;
}

th {
    width: 160px;
    height: 110px;
    font-size: 20px;
    color: #484848;
    border-bottom: 2px solid rgba(33, 8, 8, 0.1);

}

/*  Иконки  */
.svg_icons {
    height: 24px;
    width: 24px;
    fill: #848484;

}

.storage, .bandwidth {
    height: 20px;
}

.fivegb {
    width: 100px;
    margin: 0 auto;
}

/*  стили таблицы   */
th:first-child {
    width: 200px;
}

th:nth-of-type(odd) {
    background-color: #fafafa;
}

th:nth-of-type(even) {
    background-color: #e3e3e3;
}

.standard, .ultimate, .premium > td {
    height: 165px;
    width: 160px;
    text-align: center;
    border-bottom: 2px solid rgba(33, 8, 8, 0.1);


}

.standard > td:nth-of-type(odd) {
    background-color: #fafafa;
}

.standard > td:nth-of-type(even) {
    background-color: #e3e3e3;
}

.ultimate > td:nth-of-type(odd) {
    background-color: #fafafa;
}

.ultimate > td:nth-of-type(even) {
    background-color: #e3e3e3;
}

.premium > td:nth-of-type(odd) {
    background-color: #fafafa;
}

.premium > td:nth-of-type(even) {
    background-color: #e3e3e3;
}

.standard > td:first-child {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.ultimate > td:first-child {
    background-color: #f04a56;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.premium > td:first-child {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}


.buttons {
    display: inline-block;
    height: 40px;
    width: 145px;
    margin: 0 auto;
    text-decoration: none;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    color: #fff;

}

.standard-container {
    height: 110px;
    width: 200px;
}

.ultimate-container{
    height: 110px;
    width: 200px;
}

.buy_black {
    margin-top: 15pt;
    font-size: 16px;
    background-color: #484848;
    border-bottom: 5px solid #404040;

}

.seventeen{
    font-size: 36px;
}

.cent{
    font-size: 18px;
}
.per_months{
    font-size: 14px;
}








