html {
    width: 1280px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    height: 50px;
}

.menu {
    margin: 0 auto;
    list-style: none;
    text-align: center;
    line-height: 50px;


}

.menu > li {
    display: inline-block;
}

.menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    font-weight: bold;
    font-family: "Roboto Light", "sans-serif";
    color: #2c8f7c;

}

.photo {
    display: block;
    height: 790px;
    width: 100%;

}

.content {
    padding-top: 40px;
    padding-right: 70px;
    padding-bottom: 50px;
    padding-left: 70px;
    background-color: lightgray;
    text-align: center;

}


.article > p {

    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
    color: #373737;
    text-align: center;
}

.init-button{

    border: none;
    width: 130px;
    height: 30px;
    border-radius: 3px;
    background-color: #2c8f7c;



}

.init-button{

    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto Light",sans-serif;
    font-size: 9px;
}
footer{
    height: 50px;
    line-height: 50px;
    padding-right: 60px;
    text-align: right;

}

footer > span {
    font-weight: bold;
    font-family: "Roboto Light",sans-serif;
    font-size: 14px;
}
