* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/j_background.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/*  Header  */
header {
    height: 54px;
    width: 100%;
    margin-bottom: 65px;
    background-color: rgba(0, 0, 0, 0.49);


}

.logo {
    display: inline-block;
    line-height: 54px;
    padding-left: 80px;
    color: white;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.logo:hover {
    color: #3cb878;
    transition: .4s;
}


.welcome {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    color: white;
}

.welcome-block {
    float: right;
    line-height: 54px;
    padding-right: 75px;
    border-right: 1px #302e30;
}

.welcome > a {
    color: #3cb878;
    text-decoration: none;
}

.login:hover {
    border-bottom: 1px solid;
    border-color: #3cb878;
}


.signup:hover {
    border-bottom: 1px solid;
    border-color: #3cb878;
}

.icons {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 300px;
    width: 125px;
    height: 30px;
    margin-right: 30px;


}


.icon {
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/spritesheet.png);
}

.calendar {
    background-position: 0 2px;
}


.calendar:hover {
    background-image: url(../images/spritesheet.png);
    background-position: 85px 80px;
}

.forum {
    background-position: 118px 41px;
    margin-right: 15px;
    margin-left: 15px;
}

.forum:hover {
    background-image: url(../images/spritesheet.png);
    background-position: 77px 41px;
}

.safari {
    background-position: 35px 0;

}

.safari:hover {
    background-image: url(../images/spritesheet.png);
    background-position: 155px 40px;
}


/*  top form-container   */

.form_wrapper {
    height: 585px;
    width: 445px;
    margin: 65px auto;
    padding: 30px 60px;
    border-radius: 10px;
    background-color: #fff;
}

.design {
    height: 140px;
}


.green_cube {
    display: inline-block;
    position: absolute;
    top: 153px;
    left: 537px;
    width: 18px;
    height: 18px;
    background-color: #3cb878;

}

.design > span {
    position: relative;
    bottom: 13px;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;

}


.log {
    float: right;
    text-decoration: none;
    color: #3cb878;
    font-family: Verdana, sans-serif;

}

.log:hover {
    border-bottom: 1px solid #3cb878;

}

.buttons {
    display: inline-block;
    position: relative;
    top: 40px;
    right: 81px;
    width: 155px;
    height: 45px;
    border-radius: 3px;
    border: none;
    background-color: #264b96;
}

.buttons {
    cursor: pointer;
}

.buttons > img {
    position: relative;
    right: 15px;

}

.buttons > span {
    position: relative;
    left: 5px;
    bottom: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: #fff;
}

.fbline {
    display: inline-block;
    position: absolute;
    left: 645px;
    bottom: 460px;
    height: 28px;
    width: 1px;
    background-color: #35444f;
    opacity: 0.3;
    z-index: 100;
}

.gline {
    display: inline-block;
    position: absolute;
    left: 820px;
    bottom: 460px;
    height: 28px;
    width: 1px;
    background-color: #35444f;
    opacity: 0.3;
    z-index: 101;

}


.gbutton {
    background-color: #c3412c;
    position: relative;
    left: 165px;
    top: -5px;


}

.gbutton > span {
    top: 1px;
    left: 15px;
}

.gbutton > img {
    position: relative;
    top: 5px;
}

.gbutton:active {
    background-color: #8c2c1d;

}

.fbbutton:active {
    background-color: #183266;
}


h4 {
    overflow: hidden;
    text-align: center;
    opacity: 0.3;
    font-family: Verdana, sans-serif;
}

h4:before, h4:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}

h4:before {
    right: 0.5em;
    margin-left: -50%;
    opacity: 0.3;
    padding-right: 10px;
}

h4:after {
    left: 0.5em;
    margin-right: -50%;
    opacity: 0.3;
    padding-right: 10px;
}

input:not(.checkbox_1) {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    border-radius: 4px;

}

::-webkit-input-placeholder {
    color: #bebebe;
}

:-moz-placeholder {
    color: #bebebe;
}

::-moz-placeholder {
    color: #bebebe;
}

:-ms-input-placeholder {
    color: #bebebe;
}

input:not(:last-child) {
    margin-bottom: 15px;
}


input:not(.checkbox_1) {
    border: 1px solid #eaeaea;
}

input:focus:not(.checkbox_1) {
    box-shadow: 5px 5px #dbdbdb;

}

input:hover:not(.checkbox_1) {
    border: none;
    box-shadow: 1px 1px 1px 1px #dbdbdb;
}

p > .link {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: #3cb878;
}

.link:hover {
    border-bottom: 1px solid #3cb878;
}

.checkbox_1 {
    position: absolute;
    top: 584px;
    right: 900px;
    appearance: none;
    width: 20px;
    height: 20px;
    z-index: 200;
}

.checkbox_label {
    padding-left: 25px;
}

.checkbox_label:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    background-color: #fff;
    z-index: 1;


}

.checkbox_label:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: url("../images/chekbox.png") no-repeat;
    background-size: 15px 15px;
    position: relative;
    bottom: 17px;
    z-index: 2;
    opacity: 0;


}

.checkbox_1:checked + .checkbox_label:before {
    background-color: #fff;
    border-color: #eaeaea;
}

.checkbox_1:checked + .checkbox_label:after {
    opacity: 1;

}

.submit_button {
    width: 100%;
    height: 45px;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    background-color: #3cb878;

}


.submit_button > p {
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: #fff;
}

.submit_button:active {
    background-color: #207a4c;
    cursor: pointer;
}


