
html {
    background-color: #3a4965;
    font-family: Arimo, sans-serif;


}

@font-face {
    font-family: Arimo;
    src: url("../fonts/Arimo-Bold.ttf") format("ttf");
    src: url("../fonts/Arimo-Bolditalic.ttf") format("ttf");
    src: url("../fonts/Arimo-Regular.ttf") format("ttf");
    src: url("../fonts/Arimo-Italic.ttf") format("ttf");
}


.pricing_table {
    margin: 80px auto;
    width: 1140px;
    height: 680px;
    text-align: center;
    border-collapse: collapse;
}

.pricing_table tr:nth-child(2n + 3) {
    background-color: #f2f2f2;
}

.pricing_table tr:nth-child(2n + 4) {
    background-color: #e3e3e3;
}

.prices {
    height: 90px;
}

.thead, .prices {
    background-color: #ffffff;

}

tr, td, th {
    border-right: 2px solid rgba(33, 8, 8, 0.1);
    font-family: Arimo, sans-serif;


}

tr, td {
    width: 275px;
    height: 70px;
}

tr, td {
    color: #484848;
    font-size: 16px;
}

th:not(.plan) {
    border-bottom: 2px solid rgba(33, 8, 8, 0.1);
}

th {
    font-family: Arimo, sans-serif;
    font-weight: bold;
}

th:first-child {
    width: 310px;
}

th:not(.plan) {
    width: 280px;
    height: 70px;
}


.standard {
    background-color: #89c331;
    color: #fff;
    font-size: 24px;

}

.ultimate {
    background-color: #f04a56;
    color: #fff;
    font-size: 30px;
}

.premium {
    background-color: #20807c;
    color: #fff;
    font-size: 24px;
}

th:first-of-type {
    font-size: 30px;

}

th:first-of-type > .choose {
    position: absolute;
    top: 120px;
    left: 270px;
    font-size: 18px;
}


.cent {
    height: 90px;
    font-weight: bold;
}

.buttons {
    width: 190px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    border: none;
}

.buttons_tab {
    height: 110px;
}

.contact {
    background-color: #484848;
}


.svg_icons {
    height: 24px;
    width: 24px;
    fill: #848484;

}

.fa-dropbox {
    position: absolute;
    left: 265px;
    top: 265px;

}

.bandwidth {
    position: absolute;
    left: 260px;
    top: 336px;

}

.email {
    position: absolute;
    left: 280px;
    top: 409px;


}

.support {
    position: absolute;
    left: 270px;
    top: 481px;


}

.product {
    position: absolute;
    left: 265px;
    top: 553px;

}

.users {
    position: absolute;
    left: 278px;
    top: 625px;

}

.dollars {
    font-size: 60px;
    font-weight: bold;
}

.months {
    position: absolute;
    top: 205px;
    left: 640px;
}

.second {
    position: absolute;
    top: 205px;
    right: 492px;
}

.third {
    position: absolute;
    top: 205px;
    right: 215px;
}

.buttons {
    display: inline-block;
    height: 50px;
    width: 190px;
    margin: 0 auto;
    text-decoration: none;
    font-family: Arimo, sans-serif;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    color: #fff;

}

.buy_green {
    background-color: #89c331;
    border-bottom: 5px solid #79b027;

}

.buy_green:hover {
    background-color: #79b027;
    transition: .5s;
    border: none;
}


.buy_black {
    background-color: #484848;
    border-bottom: 5px solid #404040;

}

.buy_black:hover {
    background-color: #404040;
    transition: .5s;
    border: none;
}


.buy_pink {
    background-color: #f04a56;
    border-bottom: 5px solid #df3a46;
}

.buy_pink:hover {
    background-color: #df3a46;
    transition: .5s;
    border: none;
}


.buy_forest {
    background-color: #20807c;
    border-bottom: 5px solid #16736f;

}

.buy_forest:hover {
    background-color: #16736f;
    transition: .5s;
    border: none;
}






