html {
    width: 1366px;
    margin: 0 auto;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


/*  Header  */
.header {
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 1065px;

}

/*  Logo  */
.logo {
    height: 44px;
    width: 46px;
    background-image: url("../stylesheets/logo.png");
    line-height: 50px;
    display: inline-block;
}

.logo_block:hover .logo {
    background-image: url("../stylesheets/logohover.png");
    width: 46px;
    height: 44px;
    transition: .3s;


}


.logo_block {
    display: inline-block;
}

.logo_block:hover .milan_link > span {
    color: #f26522;
    transition: .3s;
}

.logo_block:hover .holidays_link > span {
    color: #f26522;
    transition: .3s;
}


.logo_link {
    text-decoration: none;
}


/*  Logo text  */
.milan {
    position: absolute;
    float: left;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 29px;
    color: #fff;
}


.holidays {
    color: #fff;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.holidays_link {
    text-decoration: none;
}


/*  Contacts  */
.email {
    color: #fff;
    font-size: 18px;
    font-family: Verdana, sans-serif;


}

.phone {
    float: right;
    color: #fff;
    font-size: 18px;
    font-family: Verdana, sans-serif;


}

.phone-mail {
    width: 242px;
}

/*  Three Tours  */

.three_cards {
    margin-left: 155px;
    margin-bottom: 95px;
    width: 1065px;
    height: 240px;

}

.first_card {
    float: left;
    height: 240px;
    width: 310px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}

.first_card:hover .bottom-sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.first_card .card_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item1.png');
    background-repeat: no-repeat;
    position: relative;

}

.card_hover .bottom-sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}


.from_price {
    display: inline-block;
    width: 20px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;

}

.from {
    font-size: 10px;
}

i {
    border: solid #f9b291;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.details > p {
    float: right;
    padding-right: 20px;
    padding-top: 14px;
    font-size: 14px;

}

.arrow_right {
    transform: rotate(-45deg);

}

.shopping_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


.second_card {
    height: 240px;
    float: left;
    text-align: center;
    padding: 0 69px 0 66px;
    width: 310px;
    color: white;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;


}

.second_wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}

.second_card:hover .second_sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.second_card .second_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item2.png');
    background-repeat: no-repeat;
    position: relative;
}

.second_hover .second_sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}

.sightseeing_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


.third_card {
    position: relative;
    float: right;
    text-align: center;
    height: 240px;
    width: 310px;
    color: #fff;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;

}

.third_wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}


.third_card:hover .third_sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.third_card .third_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item3.png');
    background-repeat: no-repeat;
    position: relative;
}

.third_hover .third_sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}

.food_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


/*  Next Three Tours  */

.next_cards {
    margin-top: 80px;
    margin-left: 155px;
    margin-bottom: 93px;
    width: 1065px;
    height: 240px;
}

.fourth_card {
    float: left;
    height: 240px;
    width: 310px;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;


}

.fourth_wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}

.fourth_card:hover .fourth_sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.fourth_card .fourth_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item4.png');
    background-repeat: no-repeat;
    position: relative;
}

.fourth_hover .fourth_sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}


.bars_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


.fifth_card {

    float: left;
    text-align: center;
    padding: 0 69px 0 66px;
    height: 240px;
    width: 310px;
    color: #fff;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.fifth_wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}


.fifth_hover {
    border-image: linear-gradient(to bottom, white, black);
    border-width: 2px;
}

.fifth_card:hover .fifth_sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.fifth_card .fifth_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item5.png');
    background-repeat: no-repeat;
    position: relative;
}

.fifth_hover .fifth_sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}

.art_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


.sixth_card {
    float: right;
    text-align: center;
    height: 240px;
    width: 310px;
    color: #fff;
    font-weight: normal;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

.sixth_wrapper {
    height: 200px;
    width: 310px;
    background: linear-gradient(to bottom, white, black);
    padding: 2px;
}


.sixth_card:hover .sixth_sider {
    visibility: visible;
    height: 63px;
    transition: .5s all;
}

.sixth_card .sixth_hover {
    width: 100%;
    height: 200px;
    background-image: url('../images/item6.png');
    background-repeat: no-repeat;
    position: relative;
}

.sixth_hover .sixth_sider {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #f26522;
    visibility: hidden;
    overflow: hidden;
    transition: .5s all;
}

.walking_hover:hover > p {
    color: #f26522;
    transition: .5s;
}


/*  Footer  */

footer {
    width: 100%;
    height: 50px;
    margin-top: 60px;
    text-align: center;
    line-height: 50px;
}

.copyright {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #fff;

}









